<%- include('partials/header') %>
<div style="margin: 10px;margin-left: 100px;">
<div class="container">
    <% blogs.forEach((blog) => { %>
        <div class="card mb-3" style="max-width: 940px; ">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="<%= blog.imageUrl %>" class="card-img" style="height: 100%;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a href="/<%= blog._id %>" style="color: rgba(10, 2, 2, 0.863);"><h5 class="card-title"><%= blog.title %></h5></a>
                  <p class="text-muted" style="display: inline;">Created At <%= blog.created.toDateString() %></p>
                  <p class="card-text" style="padding-top: 10px;"><%= blog.content.substring(0, 100) %>.......</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                  <a href="/<%= blog._id %>" class="btn btn-info">More Info</a>
                  
                </div>
              </div>
            </div>
          </div>
    <% }) %>
</div>
</div>
<%- include('partials/footer') %>